.toolbar {
  height: 28px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #111;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-variant-numeric: tabular-nums;
  backdrop-filter: blur(40px) saturate(3);
  -webkit-backdrop-filter: blur(40px) saturate(3);
  z-index: 1;
  user-select: none;
  -webkit-user-select: none;
}

.toolbar[data-theme="dark"] {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.toolbar h1 {
  font-size: var(--font-size);
  font-weight: 700;
}

.desktop {
  flex: 1;
  padding: 24px 12px;
  position: relative;
}

.icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, 124px);
  grid-template-rows: repeat(auto-fill, 108px);
  column-gap: 16px;
  row-gap: 24px;
  margin-left: auto;
  direction: rtl;
  position: relative;
  z-index: 1;
  grid-auto-flow: column;
  height: 100%;
}

.desktopItem {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: center;
  position: relative;
  cursor: default;
}

.label {
  line-height: 1.125;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  padding: 2px 4px;
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
  border-radius: 4px;
  font-weight: 700;
}

.icon {
  width: 84px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  position: relative;
}

.icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.statusIcon {
  inset: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-family: "color-emoji";
  line-height: 1;
}

.profilePhoto {
  position: absolute;
  inset: 8px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.35);
}

.desktopItem:focus {
  z-index: 1;
}

.desktopItem:focus .label {
  background-color: var(--highlight-color);
}

@media only screen and (max-width: 540px) {
  .icons {
    grid-template-columns: repeat(auto-fill, 108px);
    grid-template-rows: repeat(auto-fill, 84px);
    row-gap: 12px;
    column-gap: 8px;
  }
  
  .icon {
    width: 48px;
  }

  
  .statusIcon {
    font-size: 48px;
  }

  .profilePhoto {
    border-width: 2px;
    inset: 4px;
  }
}
